
 <table align="right">
   <tr>
   <td>
   <b>Hello</b>: <label id="lblUsername"><i>{{userName}}</i></label>
	 </td>

   	<td align=right> 	 
	<span class="glyphicon glyphicon-menu-hamburger" onclick="openRightNav()"></span>
	 
	   <div id="myRightSidenav" class="rightSidenav" align="left">
  <a href="javascript:void(0)" class="closebtn" onclick="closeRightNav()">&times;</a>
  
  <a href="#">Create Team</a>
  <a href="#/logout/">SignOut</a>
	</div>
	 </td>
	 
 </tr>
 </table>
	<table border=1 width="100%" >
		<tr>
	<td width="30%" valign="top" class="leftMenuBKGrnd">
        
		
		 <table border=0 width="100%" >
		   <tr>
			    <td>
			      <B>Team name</B>
			    
			    </td>
		   </tr>
		   <tr >
		    <td>
				<div ng-repeat="item in channels">
				  <a href="#/team/{{item.TEAMNAME}}">{{item.TEAMNAME}}</a>
				</div>
			</td>
		   </tr>
		    <tr>
			    <td>
			    <B>Channel Names</B>
			    </td>
		   </tr>
		   <tr>
        	<td>
				<div ng-repeat="item in channels">
				  <a href="#/channelChats/{{item.CHANNELNAME}}">{{item.CHANNELNAME}}</a>
				</div>
			</td>
		   </tr>
		  <tr>
			    <td>
			      <B>Direct Message List</B>
			    </td>
		   </tr>
		   <tr>
			    <td>
					<div ng-repeat="item in directChannels">
						<a href="#/directChats/{{item}}/{{userName}}">{{item}}</a>
					</div>
			    </td>
		   </tr>		   
		 </table>
		
	
	
		
	</td>	
	<td width="70%" valign=top>
		<table valign=top width="100%" border=0>
		  <tr>
		    <td>
			<B> **{{displayName}}** </B>
		    </td>
		 </tr>
		 <tr>
		 <td class="centerMessage">
		 
			<div ng-repeat="item in channelChats" >
			  <blockquote>
			    <B>*{{item.SENDER}}</B> | {{item.DATE}}
			    <footer> {{item.MESSAGE}} </footer>
			  </blockquote>
			 </div>
			 
			 <div ng-repeat="item in messages" >
			  <blockquote>
			 <B>*{{item.SENDER}}</B> | {{item.DATE}}
			 
			 <footer>  {{item.MESSAGE}} </footer>
			 </blockquote>
			 </div>
         </td>
		 </tr>
		 <tr>
		   <td>
		   {{channelMsg}}
		   <hr>
		   <br>
		   <div>
			  
				<div ng-hide="isDirectChat">
					<form ng-submit="sendMessage()">				
					Message: <input type="text" ng-model="msg">
							 <input type="submit" value="send Channel">
					</form>
				</div> 
				<div ng-show="isDirectChat">					
					<form ng-submit="sendDirectMessage()">
					Message: <input type="text" ng-model="msg">
							 <input type="submit" value="send Direct">
					</form>
				</div>	
				</br>	
		   </div>
		   </td>
		 </tr>
       </table>
	</td>
	<td valign="top" class="rightMenuBKGrnd">
	   <div align="rigth" ng-controller="SearchCtrl">
					Search: <input ng-model="enteredSearchKeyword" type="text"/> 
					<button ng-click="searchPopup()">Search</button>
				<div ng-repeat="item in searchResults" >
				 <blockquote>{{item.CHANNELNAME}}
				 <br><B>*{{item.SENDER}}</B> | {{item.DATE}}
				 <footer> {{item.MESSAGE}} </footer>
				 </blockquote>
	</div>
		  </div>
	

	 </td>
	 
	</td>
</tr>




</table>
 