
<table align="right" width="100%">
   <tr>
   <td width="60%">
   <b>Hello</b>: <label id="lblUsername"><i>{{userName}}</i></label>
	 </td>


	 <td width="40%" align="rigth">
	 <div align="rigth" ng-controller="SearchCtrl">
					 &nbsp; &nbsp; <span class="glyphicon glyphicon-search"></span>
					 <input ng-model="enteredSearchKeyword" type="text" size=10 ng-keypress="searchPopup($event);openSearchNav()" /> 
			
					 <button id="searchBtn" onclick="openSearchNav()" ng-click="searchPopup($event)">Search
					 </button>
					 
			<div id="mySearchSidenav" class="searchSidenav" align="left">
		  &nbsp; &nbsp; <span align="center"><B>Search Results</B></span>&nbsp; <a href="javascript:void(0)" class="closeSearchbtn" onclick="closeSearchNav()">&times;</a>
		  
			 <div ng-repeat="item in searchResults | filter:enteredSearchKeyword"
					ng-bind-html="item | highlight:enteredSearchKeyword">
						 
			</div>
			
			
		   
		</div>
				
		</div>
    </td>	
		
	 <td valign="top" align="rigth">
	&nbsp;&nbsp;<span class="glyphicon glyphicon-option-vertical" onclick="openRightNav()"></span>
	
	<div ng-controller="teamCtrl">	
		<div id="myRightSidenav" class="rightSidenav" align="left">
			<a href="javascript:void(0)" class="closebtn" onclick="closeRightNav()">&times;</a>		  
			<a href="" data-toggle="modal" data-target="#myModal" ng-click="success=false;name='';desc='';isDisabled=false;form.$submitted=false;form.uName.$touched=false;">Create Team</a> 
			<a href="#/logout/">SignOut</a>
  
		</div> 
	
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

			  <!-- Modal content-->
			  <div class="modal-content" >
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Create a Team</h4>
				</div>
				<div ng-show="success">Team {{name}} is created successfully.</div>
				<div class="modal-body">				
					<form name="form" novalidate class="simple-form" ng-submit="form.$valid && update()" >
						Name: <input type="text" ng-model="name" name="uName" required=""/><br /><br />	
						<div ng-show="form.$submitted || form.uName.$touched">
							<div ng-show="form.uName.$error.required">Team name cannot be empty.</div>
						</div>
						Description: <textarea ng-model="desc" width="100%"></textarea><br /><br />			
						
						<input type="submit" value="Save" ng-disabled="isDisabled" />
					</form>			
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			  </div>
			  
			</div>
		</div>

	</div>
	 </td>
 </tr>
 </table>
 
<div id="main">
 
	<table border=1 width="100%" >
		<tr>
	<td width="15%" valign="top" class="leftMenuBKGrnd">
        
		
		 <table border=0 width="100%" >
		   <tr>
			    <td>
				
			      <B>Team name</B>
			    
			    </td>
		   </tr>
		   <tr>
		    <td>
				<div ng-repeat="team in teams">
					<span class="glyphicon glyphicon-star"></span>
					{{team}}
				</div>
				</td>
		   </tr>
			
			 <tr><td>&nbsp;</td></tr>		<!-- skip a line before doing Channel Names -->
			 
		    <tr>
			    <td>
			    <B>Channel Names</B>
			    </td>
		   </tr>
		   <tr>
        	<td>
				<div ng-repeat="item in channels">
					<span class="glyphicon glyphicon-asterisk"></span>
				  <a href="#/channelChats/{{item.CHANNELNAME}}">{{item.CHANNELNAME}}</a>
				</div>
			</td>
		   </tr>

			<tr><td>&nbsp;</td></tr>		<!-- skip a line before doing Direct Message List -->

		  <tr>
			    <td>
			      <B>Direct Message List</B>
			    </td>
		   </tr>
		   <tr>
			    <td>
					<div ng-repeat="item in directChannels">
						<span class="glyphicon glyphicon-star-empty"></span>
						<a href="#/directChats/{{item}}/{{userName}}">{{item}}</a>
					</div>
			    </td>
		   </tr>		   
		 </table>
		
	
	
		
	</td>	
	<td width="70%" valign=top>
		<table valign=top width="100%" border=0>
		  <tr>
		    <td>
			<B> **{{displayName}}** </B>
		    </td>
		 </tr>
		 <tr>
		 <td class="centerMessage">
		 
			<div ng-repeat="item in channelChats">
			  <blockquote>
			    <span class="glyphicon glyphicon-user"></span><B>{{item.SENDER}}</B> | <span class="smallDate">{{item.DATE}}</span>
			    <footer class="right">{{item.MESSAGE}}</footer>
			  </blockquote>
				<p class="blank">&nbsp;</p>		<!-- color break between items, poor man's solution --> 
			 </div>
			 
			 <div ng-repeat="item in messages" >
			  <blockquote>

			 <span class="glyphicon glyphicon-user"></span><B>{{item.SENDER}}</B> | <span class="smallDate">{{item.DATE}}</span>
			 
			 <footer class="right"> {{item.MESSAGE}}</footer>
			 </blockquote>
			 <p class="blank">&nbsp;</p>		<!-- color break between items, poor man's solution --> 
			 </div>
         </td>
		 </tr>
		 <tr class="footerMessage">
		   <td>
		   {{channelMsg}}
		   <hr>
		   <br>
		   <div>
			  
				<div ng-hide="isDirectChat">
					<form ng-submit="sendMessage()">				
					Message: <a href="#">
				  <span class="glyphicon glyphicon-plus"></span>
				</a>
		          <input type="text" ng-model="msg">
							 <input type="submit" value="send">
					</form>
				</div> 
				<div ng-show="isDirectChat">					
					<form ng-submit="sendDirectMessage()">
					Message: 
					<a href="#">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
					<input type="text" ng-model="msg">
							 <input type="submit" value="send">
					</form>
				</div>	
				</br>	
		   </div>
		   </td>
		 </tr>
       </table>
	</td>


</tr>




</table>
 </div>